.add-students {
  padding: 10px;
}
.add-students h2 {
  margin: 10px 0;
}
.add-students table,
.add-students table th,
.add-students table,
td {
  border-collapse: collapse;
}
.add-students table {
  width: 100%;
  border: 1px solid black;
}
.add-students table th {
  background-color: #222;
  color: white;
}
.add-students table tr {
  border-bottom: 1px solid black;
}
.add-students table tr:nth-child(even) {
  background-color: #eee;
}
.add-students table td,
.add-students table th {
  padding: 5px;
}

.save-students-btn {
  margin-top: 10px;
}