.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 60px;
  background-color: black;
  border-bottom: 1px solid black;
  align-items: center;
}
.header-container .logo {
  display: flex;
  justify-content: center;
}
.logo img {
  height: 40px;
}
.btn-container {
  display: flex;
  gap: 20px;
}
