.exam-container {
  padding: 10px;
}

.exam-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.qa {
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.qa .question {
  margin-bottom: 5px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.options .option {
  margin-bottom: 5px;
}

.options .option input {
  margin-right: 10px;
}
