.container {
  height: calc(100% - 120px);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.login-form-container {
  height: 300px;
  width: 90%;
  max-width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid black;
}

.login-form-container h2 {
  margin: 20px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input,
.login-form button {
  width: 100%;
}

.login-form-link {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}

.signup-form-container-main {
  padding: 1rem;
}

.signup-form-container h2 {
  text-align: center;
}

.signup-form-container {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.signup-form-container .login-form {
  display: grid;
  grid-template-columns: auto auto;
}

.signup-form-container h2 {
  margin: 15px 0;
}

.signup-form-container .login-form {
  gap: 1.25rem;
}
